
.buttons{
  margin-top: 100px;
}

.container{
  margin-bottom: 80px;
}

.picker{

  margin-top: 5px;
  margin-left: 50px;
  display: inline;
  height: 45px;
  width: 150px;
}

body{
  background: radial-gradient(circle, #d8d8d8, #ffffff);
}

.align-center{
  text-align: center;
}
select{
  width: 100px;
  height: 40px;
}

table{
  background-color: #efefef;
}
th{
  color: #606060;
  background-color: #d1d1d1;
}

h2{
  text-align: center;
  margin-top: 45px;
  background: -webkit-linear-gradient(#606060, #909090);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
}

button{
  height: 45px;
}


h3{
  margin-left: 600px;
  padding-top: 120px;
  font-family: Helvetica;
  font-weight: 100;
  font-size: 20px;
  color: #d8d8d8;
}

.header{
  height: 350px;
  background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/05/13/28/31599e7ab793734.jpg);
  background-size: 100% 100%;
}
